<div class='success-wrapper'>
  <div class='success-card'>
    <div class='success-icon'>✔</div>

    <h1>¡Mensaje enviado con éxito!</h1>
    <p>Gracias por contactarte con nosotros. Te responderemos a la brevedad.</p>

    <a href='/' class='success-btn'>Volver al inicio</a>
  </div>
</div>