<footer class='main-footer'>
  <div class='container footer-container'>
    <p>© {{year}} Love Movies - Todos los derechos reservados.</p>

    <a href='/contact' class='contact-me'>
      <span>Contactame</span>
      <svg viewBox='0 0 24 24' class='arrow-icon'>
        <path
          d='M5 12h14M13 6l6 6-6 6'
          stroke='currentColor'
          stroke-width='2'
          fill='none'
          stroke-linecap='round'
          stroke-linejoin='round'
        />
      </svg>
    </a>
  </div>
</footer>